/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #a3e3ff;
  color: #333;
  padding: 2rem;
  line-height: 1.6;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #1e5599;
  text-align: center;
  margin-bottom: 1.5rem;
}

p {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

/* Input styles */
label {
  display: block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 2px solid #1e5599;
  border-radius: 5px;
  outline: none;
  margin-bottom: 1rem;
}

input:focus {
  border-color: #3c8cff;
}

button {
  display: inline-block;
  background-color: #1e5599;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 40px;
  width: 120px;
  line-height: 1;
}

button:hover {
  background-color: #3c8cff;
}

/* Output container */
.output-container {
  padding: 1rem;
  background-color: #f0faff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
}

/* overall content width */

.container {
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-color: #a3e3ff;
  color: #333;
  padding: 2rem;
  line-height: 1.6;
}

@media only screen and (max-width: 767px) {
  .container {
    max-width: 100%;
  }
}

.footer {
  margin-top: 2em;
  text-align: center;
  font-size: 0.8em;
  color: #555;
}

.small-link {
  text-decoration: none;
  color: #555;
  font-size: 12pt;
  transition: color 0.2s ease-in-out;
}

.small-link:hover {
  color: #0077ff;
}

.output-container-wrapper {
  display: flex;
  align-items: flex-start;
}

.swimbot-icon {
  height: 100px;
  width: auto;
  margin-right: 1rem;
  margin-top: 2rem;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
}

.input-wrapper input {
  flex-grow: 1;
  margin-right: 1rem;
  height: 40px;
}


.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 6px;
  background: #ddd;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 3px;
  margin-bottom: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #2196F3;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 15px;
  height: 15px;
  background: #2196F3;
  cursor: pointer;
  border-radius: 50%;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.slider-wrapper label {
  font-size: 1rem;
  margin-bottom: 0px;
}

.slider-value {
  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  margin-top: 0px;
}

.parameters-wrapper {
  border: 2px solid #ddd;
  border-radius: 10px;
  background-color: #f2f2f2;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.parameters-wrapper h2 {
  font-size: 1.4rem;
  margin-bottom: 0px;
}

.parameters-wrapper h3 {
  font-size: 1.1rem;
  margin-bottom: 0px;
}

.parameters-wrapper p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: 10px;
}

/* .new-sliders {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 20px;
} */

/* .new-sliders .slider-wrapper {
  margin-bottom: 0px;
} */

/* .new-sliders label {
  font-size: 1rem;
  font-weight: bold;
} */

/* .new-sliders input[type="range"] {
  width: 50%;
  margin-top: 5px;
} */

/* .new-sliders .slider-value {
  display: inline-block;
  font-size: 0.8rem;
  margin-left: 10px;
  font-weight: bold;
} */

/* .sliders-container {
  display: flex;
  justify-content: space-between;
} */

.personality-sliders {
  display: inline-block;
  width: calc(50% - 20px);
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 0px; /* add some margin to the top if needed */
}

.swimbot-brain-title {
  margin: 0; /* remove any default margin */
  font-size: 20px; /* set the font size as needed */
  line-height: 1; /* set the line height to 1 to vertically center the title */
}

.swimbot-brain-icon {
  height: 60px;
  width: auto;
  margin-right: 0;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 0;
}


/* Version history lines: */
.version-history-item {
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 20px;
  padding: 20px;
}

.version-history-item h2 {
  margin-top: 0;
  font-size: 24px;
  font-weight: bold;
}

.version-history-item h3 {
  margin-top: 5px;
  font-size: 18px;
  font-weight: bold;
}

.version-history-item p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}





